<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Niko web site</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Hi from my page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">My games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hokey">Hokey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#programming">Programming</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to Nicolas site</h1>
        <p class="lead">I am using Bootstrap 4 to make it cool</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About me</h2>
            <p class="lead">This is my web page</p>
            <ul>
              <li>My name is Nicolas. I'm 13 yeras old</li>
              <li>I live in Belgium.</li>
              <li>...</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="My games">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">I play Fornite and sometimes Minecraft</p>
          </div>
        </div>
      </div>
    </section>

    <section id="hockey">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>In-Line hokey</h2>
            <p class="lead">I  do a lot of sports but my favorite one is the Inline Hockey</p>
          </div>
        </div>
      </div>
    </section>

    <section id="programming">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Programming</h2>
            <p class="lead">I program in Python. Actualy, i created this site with pythonanywhere</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->





    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

  </body>

</html>